.breadcrump {
	display: flex;
	align-items: center;
	gap: 26px;
	margin-bottom: 40px;
	&__item {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.1px;
		color: rgba(#f5f5f5, 0.5);
		position: relative;
		pointer-events: none;
		&_active {
			pointer-events: all;
			color: #f5f5f5;
		}
		&:not(:last-child) {
			&::after {
				content: "";
				width: 16px;
				height: 16px;
				position: absolute;
				top: 50%;
				right: -21px;
				transform: translateY(-50%);
				background: url("../img/icons/arrow-right.svg") center / cover no-repeat;
			}
		}
	}
}
